<a href="https://colab.research.google.com/github/nakyeong-kim/CodingTest/blob/main/3_K%EB%B2%88%EC%A7%B8%ED%81%B0%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
def KthLargestNumber(N, K, num_list):
  sum_set = set()
  for i in range(N):
    print(">> i >> ", i)
    for j in range(i + 1, N):
      print(">> j >> ", j)
      for k in range(j + 1, N):
        print(i, j, k)
        sum_set.add(num_list[i] + num_list[j] + num_list[k])

  return sorted(list(sum_set), reverse = True)[K-1]

N, K = map(int, input().split())
num_list = list(map(int, input().split()))
print(KthLargestNumber(N, K, num_list))

4 3
0 1 2 3
>> i >>  0
>> j >>  1
0 1 2
0 1 3
>> j >>  2
0 2 3
>> j >>  3
>> i >>  1
>> j >>  2
1 2 3
>> j >>  3
>> i >>  2
>> j >>  3
>> i >>  3
4